@font-face{
	font-family: 'overpass';
	src: url('overpass-regular.otf') format('otf');
}



.mini_pic{
	width: 160px;
	height: 160px;
}

a {
	color: black;
}
@media(min-width:300px)and (orientation:potrait){
  body{
	font-family: 'overpass',arial,sans-serif;
	margin: auto;
	
   }
}


